@model Commentaire

<tr>
    <td id="CommentaireId">@Model.Id</td>
    <td>@Model.Auteur</td>
    <td>@Model.Contenu</td>
    <td>@Model.DateCreation</td>
    <td>@Model.DateModification</td>
    <td><a asp-action="Delete" asp-route-idToDelete="@Model.Id" onclick="return confirm('Sur ???');">Supprimer</a></td>
    <td><button classe="btn btn-danger" id="SupprAjax">Supprimer Ajax</button></td>
</tr>

