@model Commentaire



    <table class="table table-striped table-sm table-bordered text-center">
        <thead>
            <tr>
                <th>N°</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Date de modification</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Auteur</td>
                <td>@Model.Contenu</td>
                <td>@Model.DateCreation</td>
                <td>@Model.DateModification</td>
            </tr>
        </tbody>
    </table>
